div, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.base-margin-down {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.no-bullets {
    list-style: none;
}

.awesome-list-board {
    border-bottom: 1px solid #ddd;
    padding: 30px 20px;
}

.awesome-bar {
    display: flex;
    position: relative;
    padding: 20px 0;
}

.awesome-bar:before {
    content: '';
    display: block;
    width: 100%;
    border-top: 2px solid #666;
    position: absolute;
    top: 50%;
}

.awesome-bar li {  
    flex-grow: 1;
    position: relative;
    display: flex;
    z-index: 3;
}

.awesome-bar-li-title {
    position: absolute;
    top: -31px;
    width: 100%;
}

.awesome-bar-now {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 20px;
    margin: auto 0;
}

.awesome-star-small {
    margin: auto;
}

.awesome-bar-awesome {
    margin: auto 0 auto auto;
}

.button {
    padding: 10px;
    
}