#board {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #000;
    border-width: 1px 1px 0 1px;
}

.board-section {
    transition: all 2s;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #222;
}

.board-list {
    margin-left: 20px;
}

.board-list-li {
    margin-bottom: 10px;
}

.board-list-li-checkbox {
    vertical-align: bottom;
}

.awesomeLi {
    border-bottom: 1px solid black;
    padding: 30px 20px;
}

#now {
}

#awesome {
    
}

#step {
    border-left: 1px solid #000;
    
}

#tasks {
    border-left: 1px solid #000;
}