.color-text-now {
    color: red;
}

.color-bg-now {
    background-color: red;
}

.color-text-step {
    color: blue;
}

.color-bg-step {
    background-color: blue;
}

.color-text-awesome {
    color: green;
}

.color-bg-awesome {
    background-color: green;
}